
<% if signed_in? %>
	<h1>Welcome to Kaohon!</h1>
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Username:</strong>
	  <%= current_user.username %>
	</p>

	<p>
	  <strong>Name:</strong>
	  <%= current_user.name %>
	</p>
	<p><%= render 'pages/post_form' %></p>
	
	<div class="posts">
		<strong>Friends' posts</strong>
		<%= render 'users/feed' %>
	</div>

	<%= link_to 'Edit', edit_user_path(current_user) %> |
	<%= link_to 'Back', users_path %>
<% else %>
<div class="jumbotron">
	<h1>Welcome to Kaohon!</h1>
	<p>Please sign in.</p>
		<%= link_to "Sign up!", signup_path,
	                                class: "btn btn-lg btn-primary", role: "button" %>
		<%= link_to "Sign in!", signin_path,
	                                class: "btn btn-lg btn-primary", role: "button" %>
</div>

<% end %>
