

<header class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<!-- <a class="brand" href="#">Title</a> -->
			<nav>
				<ul class="nav navbar-nav">
					
					<!-- <li><a href="#">Link</a></li> -->
					<li><%= link_to "Profile", users_path %></li>
					<li><%= link_to "Friends", users_path %></li>
					<li><%= link_to "Feed", users_path %></li>
					<li><%= link_to "Sign in", users_path %></li>
					<li><%= link_to "Sign out", users_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

